<div class="zoomer" *ngIf="boardLoaded">
	<label>Board Zoom</label>
	<input type="range" step="0.05" min="1" max="10" [(ngModel)]="zoomTick" class="slider" id="myRange">
</div>
<div class="board" [style.zoom]="zoomTick">
	<div *ngFor="let row of dice" class="board-row">
		<div *ngFor="let die of row" class="board-col">
			<die [die]="die"></die>
		</div>
	</div>
</div>
<div class="rotate-buttons" *ngIf="boardLoaded">
	<button class="clockwise btn" (click)="rotateCc()" title="Rotate Clockwise">
		<fa-icon [icon]="faUndo" transform="flip-h"></fa-icon>
	</button>
	<button class="clockwise btn" (click)="flip()" title="Flip">
		<fa-icon [icon]="faExchangeAlt"></fa-icon>
	</button>
	<button class="anti-clockwise btn" (click)="rotateCcw()" title="Rotate Counterclockwise">
		<fa-icon [icon]="faUndo" class="fa-flip-horizontal"></fa-icon>
	</button>
</div>