.letter{
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
    width: 27px;
    height: 24px;
    font-weight: 700;
    border: gray 1px solid;
    border-radius: 6px;
    text-align: center;
    padding-top: 3px;
	margin: 1px;
	background: #fffeef;
	box-sizing: content-box;
}

.selected {
	background: gold;
}
