<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to Mixed Baggle!
	</h1>
</div>
<div>
	<h3>Customize your board!</h3>
	<div>
		<label>Dice Collection</label>
		<select [(ngModel)]="selectedDiceCollection">
			<option *ngFor="let collection of collections" [ngValue]="collection">{{collection.name}}</option>
		</select>
	</div>
	<div>
		<label>Dictionary Collection</label>
		<select [(ngModel)]="selectedDictionaryCollection">
			<option *ngFor="let collection of dictionaries" [ngValue]="collection">{{collection.name}}</option>
		</select>
	</div>
	<div>
		<label>Minimum Word Length</label>
		<input type="number" [(ngModel)]="minlength" min=3 max=36>
	</div>
	<div>
		<label>Board Size</label>
		<input type="number" [(ngModel)]="height" min=3 max=9>
		BY
		<input type="number" [(ngModel)]="width" min=3 max=9>
	</div>
	<div>
		<label>Seed</label>
		<input type="number" [(ngModel)]="seed" min=0 [max]="maxSeed">
	</div>
	<div>
		<input type="button" value="Generate Board!" (click)="generateBoard()">
	</div>
</div>
<game-board [dice]="shakenDice"></game-board>
<input type="text" [(ngModel)]="enteredText" (ngModelChange)="showOnBoard()" (keyup.enter)="onKey($event)">
<div>
	<div>Points: {{totalPoints}}</div>
	<div *ngFor="let guessedWord of guessedWords.entries(); let i = index" class="col-sm-1">
		{{ guessedWord | json }} {{ i | json }}
		<br>
		{{ guessedWord[0] | json }} {{ guessedWord[1] | json }}
		{{guessedWord.key}}
	</div>
</div>

<h3>Items maybe to come:</h3>
<ul>
	<li>Customizable Dictionaries</li>
	<li>Existing dictionaries</li>
	<li>Custom board builder</li>
	<li>Board roation</li>
	<li>Timers</li>
	<li>Word Checker</li>
	<li>AI</li>
	<li>group play</li>
	<li>board seeding</li>
	<li>board imaging</li>
	<li>save & load games</li>
	<li>progress tracker</li>
	<li>skill building challenges</li>
</ul>
<div>
	<div>Found {{wordCount}} words in {{timeTaken}} milliseconds.</div>
	<div *ngFor="let word of wordList | keyvalue">
		{{word.key | json}} --> {{word.value}}
	</div>
</div>


<router-outlet></router-outlet>