<div>
	<div>
		<label>Settings</label>
		<fa-icon [icon]="faAngleDown" *ngIf="showSettings" (click)="showSettings = !showSettings"></fa-icon>
		<fa-icon [icon]="faAngleUp" *ngIf="!showSettings" (click)="showSettings = !showSettings"></fa-icon>

	</div>
	<div *ngIf="showSettings">
		<div>
			<label>Dice Collection</label>
			<select [(ngModel)]="settings.dice">
				<option *ngFor="let collection of dices" [ngValue]="collection">{{collection.name}}</option>
			</select>
		</div>
		<div>
			<label>Dictionary Collection</label>
			<select [(ngModel)]="settings.dictionary">
				<option *ngFor="let collection of dictionaries" [ngValue]="collection">{{collection.name}}</option>
			</select>
		</div>
		<div>
			<label>Minimum Word Length</label>
			<input type="number" [(ngModel)]="settings.minlength" min=3 max=36>
		</div>
		<div>
			<label>Board Size</label>
			<input type="number" [(ngModel)]="settings.height" min=3 max=9>
			BY
			<input type="number" [(ngModel)]="settings.width" min=3 max=9>
		</div>
		<div>
			<label>Seed</label>
			<input type="number" [(ngModel)]="settings.seed" min=0 [max]="maxSeed">
		</div>
	</div>
</div>